/* * * * * * * * * * *
 *  SpyderByte Inc.	 *
 *	  12/13/2017	 *
 *    index.css		 *
 * * * * * * * * * * */
 
*
{
	font-family: system-ui;
}

.page-container
{
	min-height: 580px;
}

/* * * * * * *Header* * * * * * */
.jumbotron
{
	margin-bottom: 0px;
	background-color: #3d3c3c;
	color: white;
}

.header-name
{
	margin-left: 15px;
	display: inline-block;
	max-width: 650px;
}

.header-logo
{
	display: inline-block;
	margin-left: 20px
}

.header-logo > img
{
	vertical-align: initial;
}

.navbar-brand
{
	color: white !important;
	margin-left: 0 !important;
}

.navbar-brand:hover
{
	background-color: white !important;
	color: black !important;
}

.middle-content
{
	margin-left: 50px;
	margin-right: 50px;
}

/*Center the Footer*/
footer
{
	padding-top: 15px;
	text-align: center;
}

@media only screen and (max-width: 500px) {
    .header-logo
	{
        display: none;
    }
}